<div class="row">
    <div class="card-header">
        <h3>
            {{requisition?.user_name}} requested for {{requisition?.amount}} {{requisition?.unit}}(s) of {{requisition?.name}}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3"><strong>Status:</strong></div>
            <div class="col-sm-9">
                <span *ngIf="!requisition?.approved" class="text-danger">
                    Awaiting approval of {{requisition?.approver_name}}.
                </span>
                <span *ngIf="requisition?.approved && !requisition?.distributed" class="text-warning">
                    Awaiting distribution from {{requisition?.distributor_name}}.
                </span>
                <span *ngIf="requisition?.distributed" class="text-success">
                    Request completed.
                </span>
            </div>
        </div>
    </div>
</div>