<div class="row">
    <div class="card-header"><h3>Pending Approval</h3></div>
    <div class="card-body">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Model</th>
                        <th scope="col">Serial</th>
                        <th scope="col">Warranty Ends</th>
                        <th scope="col">Assigned by</th>
                        <th scope="col">Approve</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of assetList; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.serial}}</td>
                        <td>{{item.warranty}}</td>
                        <td>{{item.user}}</td>
                        <td><div type="submit" class="btn btn-primary" (click)="onSubmit(item.id)">Approve</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>