<div class="container bg-warning bg-opacity-10">
  <!-- nav bar -->
  <div class="card bg-danger bg-opacity-75">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="margin-left: 1em;">
      <a class="navbar-brand" href="/"><strong>Home</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto"><!-- <li class="nav-item active"><a class="nav-link" href="#"></a></li> --></ul>
        <ul class="navbar-nav" style="margin-right: 1em;">
          <!-- {% if user.is_authenticated %} -->
            <!-- <li class="nav-item">
              <div class="nav-link"><h5>@<em># #</em></h5></div>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-warning" href="#">Logout</a>
            </li> -->
          <!-- {% else %} -->
            <li class="nav-item">
              <a class="btn btn-outline-success" href="#">Login</a>
            </li>
          <!-- {% endif %} -->
        </ul>
      </div>
    </nav>
  </div>
  <br>
  <!-- page -->
  <div class="container card bg-light bg-opacity-50">
    <br>
    <div class="row">
      <!-- left panel -->
      <!-- {% if user.is_authenticated %} -->
        <div class="col-md-2">
          <!-- user info change -->
          <div class="card bg-light">
            <div class="card-header bg-info bg-opacity-50"><strong>My Account</strong></div>
            <div class="card-body">
              <div class="list-group">
                <a class="nav-link list-group-item" href="#">Password</a>
                <a class="nav-link list-group-item" href="#">Profile</a>
                <a class="nav-link list-group-item" href="#">Manager</a>
              </div>
            </div>
          </div>
          <br>
          <!-- asset -->
          <div class="card bg-light">
            <div class="card-header bg-info bg-opacity-50"><strong>Asset Management</strong></div>
            <div class="card-body">
              <div class="list-group">
                <!-- {% if user.profile.canManageAsset %} -->
                  <a class="nav-link list-group-item" href="#">List</a>
                  <a class="nav-link list-group-item" href="#">Create</a>
                <!-- {% endif %} -->
                <a class="nav-link list-group-item" href="#">Mine</a>
                <a class="nav-link list-group-item" href="#">Incoming</a>
              </div>
            </div>
          </div>
        </div>
      <!-- {% else %} -->
        <!-- emplty place to render UI correctly -->
        <!-- <div class="col-md-2"></div> -->
      <!-- {% endif %} -->
      <div class="col-md-8">
        <!-- content body -->

      </div>
      <!-- right panel -->
      <!-- {% if user.is_authenticated %} -->
        <div class="col-md-2" style="text-align: left;">
          <!-- inventory -->
          <div class="card bg-light">
            <div class="card-header bg-info bg-opacity-50"><strong>Inventory Management</strong></div>
            <div class="card-body">
              <div class="list-group">
                <!-- {% if user.profile.canApproveInventory or user.profile.canDistributeInventory %} -->
                  <a class="nav-link list-group-item" href="#">List</a>
                  <a class="nav-link list-group-item" href="#">History</a>
                <!-- {% endif %}
                {% if user.is_authenticated %} -->
                    <a class="nav-link list-group-item" href="#">Apply</a>
                    <a class="nav-link list-group-item" href="#">Mine</a>
                  <!-- {% if user.profile.canApproveInventory %} -->
                    <a class="nav-link list-group-item" href="#">Incoming</a>
                  <!-- {% endif %}
                  {% if user.profile.canDistributeInventory %} -->
                    <a class="nav-link list-group-item" href="#">Distribution</a>
                  <!-- {% endif %}
                {% endif %} -->
              </div>
            </div>
          </div>
          <br>
          <!-- leave -->
          <div class="card bg-light">
            <div class="card-header bg-info bg-opacity-50"><strong>Leave Management</strong></div>
            <div class="card-body">
              <div class="list-group">
                <a class="nav-link list-group-item" href="#">Apply</a>
                <a class="nav-link list-group-item" href="#">Mine</a>
                <!-- {% if user.profile.canApproveLeave %}
                  {% now "Y" as current_year %} -->
                  <a class="nav-link list-group-item" href="#">Summary</a>
                  <!-- {% comment %} <a class="nav-link list-group-item" href="{% url 'leave:history' %}">Approved</a> {% endcomment %} -->
                  <a class="nav-link list-group-item" href="#">Incoming</a>
                <!-- {% endif %} -->
              </div>
            </div>
          </div>
          <br>
        </div>
      <!-- {% endif %} -->
    </div>
    <br>
    <div class="card bg-warning bg-opacity-10">
      <div class="card-body">
        <div><small>Developed and &copy;Copyright protected by Mina Shoaib Rahman, 2022</small></div>
      </div>
    </div>
    <br>
  </div>
</div>