<div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="old_password" class="form-label">Old password</label>
            <input type="password" class="form-control" id="old_password" name="old_password" formControlName="oldPassword">
          </div>
        <div class="mb-3">
            <label for="new_password1" class="form-label">New password</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1" formControlName="newPassword1">
        </div>
        <div class="mb-3">
            <label for="new_password2" class="form-label">Retype new password</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2" formControlName="newPassword2">
        </div>
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
</div>